#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.sdf
*.opensdf
source/GlmNet/ipch
source/GlmNet/packages/
!release/
release/0.*
source/GlmNet/Reference/Release
source/GlmNet/Release
release/nuspec
